.nav_bar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;

    .nav_bar_avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        .line{
            width: 2px;
            height: 16px;
            background-color: #000;
            margin: 0 15px;
            border-radius: 5px;
        }
        .text_img{
            width: 25px;
            height: 25px;
        }
    }

    .logo {
        width: 25px;
        height: 25px;
        margin-left: 20px;
    }

    .drag_area {
        width: calc(100% - 300px);
        height: 100%;
    }

    .min_butt,
    .max_butt,
    .close_butt {
        width: 60px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: auto;
        margin-top: -10px;

        &:hover {
            // background-color: rgba(140, 138, 138, 0.1);
            /* ✅ 半透明背景 */

            img {
                filter: brightness(1.8) saturate(1.2);
                /* ✅ 更亮一些 */
            }
        }

        img {
            width: 18px;
            height: 18px;
            cursor: pointer;
        }
    }
}